<section fxLayout fxLayoutAlign="center" class="new">
    <form (ngSubmit)="onstart(form)" #form="ngForm">
        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <mat-card-title fxLayoutAlign="center"> Time to Start workout</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field *ngIf="!(Isload|async) && exercise|async">
                    <mat-select placeholder="Choose Exercise" ngModel name="exercises" required>
                        <mat-option *ngFor="let item of exercise|async" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-spinner *ngIf="Isload|async"></mat-spinner>
            </mat-card-content>

            <mat-card-actions fxLayoutAlign="center" *ngIf="!(Isload|async)">
                <button *ngIf="exercise|async" type="submit" mat-button [disabled]="form.invalid">Start</button>
                <button *ngIf="!(exercise|async)" type="button" (click)="fetchexercise()" mat-button>fetch</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>